.benefits__header {
  display: flex;
  flex-direction: column;
  place-content: center;
  min-height: 30vh;
  padding: 3rem;

  text-align: center;
  color: $main-text-color;

  background-color: $main-bg-color;
}

.benefits__title {
  margin: 0 0 1rem;

  font-size: 4.8rem;
}

.benefits__lead {
  margin: 0;

  font-size: 3rem;
}

.benefits__list {
  width: 90%;
  margin: auto;
}
