//- Все примеси в этом файле должны начинаться c имени блока (copyright)

mixin copyright(classes)

  //- Принимает:
  //-   classes    {string} - список классов
  //- Вызов:
        +copyright('some-class')

  -
    // список классов
    let allClasses = '';
    if(typeof(classes) !== 'undefined' && classes) {
      for (let item of classes.split(',')) {
        allClasses = allClasses + item.trim();
      }
    }

  div(class=`${allClasses.length > 0 ?`${allClasses} `: `` }copyright`)&attributes(attributes)
    +logo('/', 'copyright__logo')(aria-label='Go to the home page')
      picture
        source(type='image/webp', srcset='img/logo-travelly.webp')
        img.logo__img(src='img/logo-travelly.png', width='130', height='55', alt='Travelly', loading='lazy')
    span.copyright__text Corporation
