.field-text {
  display: flex;
  align-items: center;
}

.field-text__name {
  flex-grow: 1;
  margin-right: 2rem;

  word-break: normal;
}

.field-text__input {
  width: 70%;
  padding: 1rem 2rem;

  font: inherit;

  border: none;
}
