extends ../pug/layout.pug

block meta
  title Travelly | Travelling Agency
  meta(name='description', content='Travelly is a travel agency website that helps you pick out your holiday vacation')


block append head
  link(rel='preload', href='fonts/Poppins-Medium.woff2', as='font', crossorigin='anonymous')
  link(rel='preload', href='fonts/Poppins-Regular.woff2', as='font', crossorigin='anonymous')

block header
  +logo('/', 'page-header__logo')(aria-label='Go to the home page')
    picture
      source(type='image/webp', srcset='img/logo-travelly.webp')
      img.logo__img(src='img/logo-travelly.png', width='130', height='55', alt='Travelly', loading='lazy')
  +main-nav('page-header__nav')
    +site-list('main-nav__list')

block content
  +hero()
  +locations()
  +benefits()
  +contact()
block footer
  +copyright('page-footer__copyright')
  +social('page-footer__social')
    +social-link('twitter','/','Twitter')
      svg(class='social__svg', width='25', height='25')
        use(xlink:href='img/sprite.svg#icon-twitter')
    +social-link('youtube','/','Youtube')
      svg(class='social__svg', width='27', height='27')
        use(xlink:href='img/sprite.svg#icon-youtube')
    +social-link('instagram','/','Instagram')
      svg(class='social__svg', width='21', height='21')
        use(xlink:href='img/sprite.svg#icon-instagram')

//- block append page-bottom
//-   script(src='js/some.js')
