extends ../pug/layout.pug

block meta
  title Travelly | Travelling Agency
  meta(name='description', content='Travelly is a travel agency website that helps you pick out your holiday vacation')
  meta(name='robots', content='index,follow')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +logo('/', 'page-header__logo')(aria-label='Go to the home page')
    picture
      source(type='image/webp', srcset='img/logo-travelly.webp')
      img.logo__img(src='img/logo.png', width='130', height='55', alt='Travelly', loading='lazy')
  +main-nav('page-header__nav')
    +site-list('main-nav__list')

block content
  +hero()
  +locations()

block footer
  p «Подвал»
  p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

//- block append page-bottom
//-   script(src='js/some.js')
