-
  var mainMenu = [
    {
      "id": "0",
      "name": "Locations",
      "url": "#locations"
    },
    {
      "id": "10",
      "name": "Benefits",
      "url": "#benefits",
    },
    {
      "id": "20",
      "name": "Contact",
      "url": "#contacts"
    }
  ];
